@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.body{
    font-family: Quicksand,sans-serif;
}


/*-------------------------------------------Heading--------------------*/
.title {
    margin-bottom: 0px;
    
}

.kol {
    color: #11c6e0;
    font-weight: 100;
    margin-top: 65px;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}


/*-------------------------------------------NAV Bar--------------------*/

.navbar {
    background-color: #11c6e0;
}

.nav-link, .navbar-brand {
    color: #efefee;
    font-size: 20px;
}


.btn-outline-primary{
    text-transform: uppercase;
    text-align: center;
}

.navbar-toggler{

    color: #efefee;
    border-color:#efefee;
}

.navbar-toggler-icon{
    color: #efefee;
}

/*-------------------------------------------Homepage vid1--------------------*/

.home{
    margin-bottom: 100px;
}

.vid1 {/* orginal width 560 height 315 */
    text-align: center; 
    margin-top: 20px;
    
}

.welcome {
    text-align:center;
    text-align-last: center;
    color: #d5d1ca;
    size: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 28px;
}

/*-------------------------------------------Video page--------------------*/

.vid2 {
    text-align: center;
    color: #11c6e0;
    font-family: Quicksand,sans-serif;
    margin-bottom: 25px;
    margin-top: 30px;
}



/*------------------------------------------Background--------------------*/
body{
    background-color: #5e5e66;
    max-width: 100%;
    max-height: 100%;
    
}

/*-------------------------------------------H2,H3,H4,H5--------------------*/
h3 {
    color: #11c6e0;
    text-align: center;
    font-size: 35px;
    font-family: Quicksand,sans-serif;
}


.h4-music {
    color: #11c6e0;
    font-size: 20px;
}

h4 {
    font-size: 30px;
    color: #11c6e0;
}

h5{
    text-transform: uppercase;
}



/*-------------------------------------------Music Page--------------------*/

.waste, .somebody, .around, .radio, .find {
    padding-top: 10px;
    padding-bottom: 10px;
}



ol {
    color: #11c6e0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.music-text{
    color: #d5d1ca;
    padding-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}


/*-------------------------------------------Venue Page--------------------*/

.kol-form{
    padding-left:0;
    margin-top: 80px;
    margin-bottom: 80px;
}

.venue-text {
    color: #d5d1ca;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 25px;
    padding-right: 0;
}

label {
    color: #d5d1ca;
}

/*-------------------------------------------Footer--------------------*/
footer {
    color: #11c6e0;
    margin: 0px;
    text-align: center;
}

.list-inline li{
    display: inline-block;
    border-radius: 50%;
    padding: 15px 0px;
    font-size: 30px;
    margin-left: 10px;
}


