@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.body{
    font-family: Quicksand,sans-serif;
}


/*-------------------------------------------Heading--------------------*/
.title {
    margin-bottom: 0px;
    
}

.kol {
    color: #11c6e0;
    font-weight: 100;
    margin-top: 65px;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}

/*-------------------------------------------Homepage vid1--------------------*/

.home{
    margin-bottom: 100px;
}

.vid1 {/* orginal width 560 height 315 */
    text-align: left; 
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 150px;
}

.welcome, hometext {
    text-align:right;
    text-align-last: center;
    color: #11c6e0;
    size: 50px;
    margin-right: 150px;
    margin-top: 100px;
    font-size: 28px;
}

/*-------------------------------------------Video page--------------------*/

.vid2 {
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #11c6e0;
    font-family: Quicksand,sans-serif;
}



/*------------------------------------------Background--------------------*/
body{
    background-image: url(../images/stage1.jpg);
    max-width: 100%;
    max-height: 100%;
}

/*-------------------------------------------H2,H3,H4,H5--------------------*/
h3 {
    color: #11c6e0;
    text-align: center;
    font-size: 35px;
    font-family: Quicksand,sans-serif;
}

h4 {
    font-size: 30px;
}

h5{
    text-transform: uppercase;
}

/*-------------------------------------------NAV Bar--------------------*/

.navbar {
    background-color: #7dd2de;
}

.nav-link, .navbar-brand {
    color: #ffffff;
    font-size: 20px;
}


.btn-outline-primary{
    text-transform: uppercase;
    text-align: center;
}




/*-------------------------------------------Footer--------------------*/
footer {
    background-color: #6c757d;
    color: #11c6e0;
    margin: 0px;
    text-align: center;
}

.list-inline li{
    display: inline-block;
    border-radius: 50%;
    padding: 15px 0px;
    font-size: 30px;
    margin-left: 10px;
}


